@model List<AssignedProjectsViewModel>
@{
    ViewBag.Title = "Assigned Projects";
}

@section Scripts {
    <script type="text/javascript" src="~/Scripts/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#assignedProjectsDisplay').DataTable({
                "columnDefs": [
                    {
                        "targets": [3, 4],
                        "orderable": false
                    }
                ]
            });
        });
    </script>
}

@section css {
    <link rel="stylesheet" href="~/Content/jquery.dataTables.min.css" />
}

<h4>Projects you're assigned too:</h4>

<table id="assignedProjectsDisplay" class="table-striped">
    <thead>
        <tr>
            <th>Project Title</th>
            <th>User Count</th>
            <th>Ticket Count</th>
            @if (User.IsInRole(ProjectConstants.SubmitterRole))
            {
                <th></th>
            }
            @if (ProjectHelper.IsAdminOrManager(User))
            {
                <th></th>
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Model)
        {
            <tr>
                <td>@project.ProjectTitle</td>
                <td>@project.UserCount</td>
                <td>@project.TicketCount</td>
                @if (User.IsInRole(ProjectConstants.SubmitterRole))
                {
                    <td><a href="@Url.Action("CreateTicket", "Ticket", new { projectId = project.Id })">Add Ticket</a></td>
                }
                @if (ProjectHelper.IsAdminOrManager(User))
                {
                    <td><a href="@Url.Action("UserProjectAssignment", "Projects", new { id = project.Id})"><i class="fas fa-user-plus"></i></a></td>
                    <td><a href="@Url.Action("EditProject", "Projects", new { id = project.Id})"><i class="fas fa-edit"></i></a></td>
                }
            </tr>
        }
    </tbody>
</table>

