@model CreateTicketViewModel
@{
    ViewBag.Title = "Ticket Creation";
    ViewBag.Description = "Create a new ticket";

}

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        @Html.ValidationSummary()
    </div>

    <div class="form-group">
        @Html.LabelFor(p => p.Title, "Ticket Title: ")
    </div>
    <div class="form-group">
        @Html.TextBoxFor(p => p.Title, new { placeholder = "Title of the Ticket...", @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(p => p.Description, "Ticket Description: ")
    </div>
    <div class="form-group">
        @Html.TextAreaFor(p => p.Description, new { placeholder = "Description of the ticket...", @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(p => p.TicketTypeId, "Ticket Type: ")
    </div>
    <div class="form-group">
        @Html.DropDownListFor(p => p.TicketTypeId, Model.TicketTypes, "Select Ticket Type", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(p => p.TicketPriorityId, "Ticket Priority: ")
    </div>
    <div class="form-group">
        @Html.DropDownListFor(p => p.TicketPriorityId, Model.TicketPriorities, "Select Priority Type", new { @class = "form-control" })
    </div>

    @Html.HiddenFor(p => p.ProjectId)

    <button type="submit" class="btn btn-default">Submit</button>
</form>

