@model ListTicketsViewModel
@{
    ViewBag.Title = "ListTickets";
}


@section Scripts {
    <script type="text/javascript" src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.fixedHeader.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#ticketsAllDisplay').DataTable({
                fixedHeader: true,
                "columnDefs": [
                    {
                        "targets": [10],
                        "orderable": false
                    }
                ]
            });

            $('#ticketsAssignedDisplay').DataTable({
                fixedHeader: true,
                "columnDefs": [
                    {
                        "targets": [10],
                        "orderable": false
                    }
                ]
            });

            $('#ticketsCreatedDisplay').DataTable({
                fixedHeader: true,
                "columnDefs": [
                    {
                        "targets": [10],
                        "orderable": false
                    }
                ]
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
}

@section css {
    <link rel="stylesheet" href="~/Content/jquery.dataTables.min.css" />
    <link href="~/Content/fixedHeader.dataTables.min.css" rel="stylesheet" />
}

@if (ProjectHelper.IsAdminOrManager(User))
{
    <h2>All Tickets</h2>
}
else
{
    <h2>Tickets from projects you're assigned to</h2>
}
<div class="table-responsive">
    <table id="ticketsAllDisplay" class="table table-striped" style="width: 100%;">
        <thead>
            <tr>
                <th>Id</th>
                <th>Project</th>
                <th>Title</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Type</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Creator</th>
                <th>Assigned Dev</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var ticket in Model.AllTickets)
            {
                <tr>
                    <td class="id-link">@Html.ActionLink(ticket.Id.ToString(), "DetailsTicket", new { ticketId = ticket.Id })</td>
                    <td>@ticket.ProjectTitle</td>
                    <td>@ticket.Title</td>
                    <td>@ticket.DateCreated</td>
                    <td>@ticket.DateUpdated</td>
                    <td>@ticket.TicketType.Name</td>
                    <td>@ticket.TicketStatus.Name</td>
                    <td class="priority-icon-container">@Html.Raw(TicketHelper.PriorityChecker(ticket.TicketPriority.Name))</td>
                    <td>@ticket.CreatedByDisplayName</td>
                    <td>@ticket.AssignedToDisplayName</td>
                    @if ((bool)ticket.CanEdit)
                    {
                        <td>@Html.ActionLink("Edit", "EditTicket", new { ticketId = ticket.Id })</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
@*}*@
<h2>Assigned Tickets</h2>
<div class="table-responsive">
    <table id="ticketsAssignedDisplay" class="table table-striped" style="width: 100%;">
        <thead>
            <tr>
                <th>Id</th>
                <th>Project</th>
                <th>Title</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Type</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Creator</th>
                <th>Assigned Dev</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var ticket in Model.AssignedTickets)
            {
                <tr>
                    <td class="id-link">@Html.ActionLink(ticket.Id.ToString(), "DetailsTicket", new { ticketId = ticket.Id })</td>
                    <td>@ticket.ProjectTitle</td>
                    <td>@ticket.Title</td>
                    <td>@ticket.DateCreated</td>
                    <td>@ticket.DateUpdated</td>
                    <td>@ticket.TicketType.Name</td>
                    <td>@ticket.TicketStatus.Name</td>
                    <td class="priority-icon-container">@Html.Raw(TicketHelper.PriorityChecker(ticket.TicketPriority.Name))</td>
                    <td>@ticket.CreatedByDisplayName</td>
                    <td>@ticket.AssignedToDisplayName</td>
                    @if ((bool)ticket.CanEdit)
                    {
                        <td>@Html.ActionLink("Edit", "EditTicket", new { ticketId = ticket.Id })</td> <!--These only show up for admins, edits can still happen on the details page of each ticket-->
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
<h2>Created tickets</h2>
<div class="table-responsive">
    <table id="ticketsCreatedDisplay" class="table table-striped" style="width: 100%;">
        <thead>
            <tr>
                <th>Id</th>
                <th>Project</th>
                <th>Title</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Type</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Creator</th>
                <th>Assigned Dev</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var ticket in Model.CreatedTickets)
            {
                <tr>
                    <td class="id-link">@Html.ActionLink(ticket.Id.ToString(), "DetailsTicket", new { ticketId = ticket.Id })</td>
                    <td>@ticket.ProjectTitle</td>
                    <td>@ticket.Title</td>
                    <td>@ticket.DateCreated</td>
                    <td>@ticket.DateUpdated</td>
                    <td>@ticket.TicketType.Name</td>
                    <td>@ticket.TicketStatus.Name</td>
                    <td class="priority-icon-container">@Html.Raw(TicketHelper.PriorityChecker(ticket.TicketPriority.Name))</td>
                    <td>@ticket.CreatedByDisplayName</td>
                    <td>@ticket.AssignedToDisplayName</td>
                    @if ((bool)ticket.CanEdit)
                    {
                        <td>@Html.ActionLink("Edit", "EditTicket", new { ticketId = ticket.Id })</td> <!--These only show up for admins, edits can still happen on the details page of each ticket-->
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

